* {
  box-sizing: border-box;
}

header {
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin: 30px auto 0;
  justify-content: space-between;
}

nav {
  display: flex;
  /* flex-wrap: wrap; */
  width: 960px;
  align-items: center;
  justify-content: center;
}

nav ul {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* nav li {
  width: 20%;
} */
 a {
  display: flex;
  justify-content: center;
}

main {
  background-color: coral;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 960px;
  margin: 30px auto 30px;
}

main img {
  margin-bottom: 30px;
}

article {
  width: 450px;
}

article section {
  height: 325px;
  margin-bottom: 30px;
  overflow: auto;
}

article a {
  background-color: lightgrey;
  padding: 15px 25px;
}

article a:hover {
  transition-duration: 350ms;
  background-color: darkgrey;
  color: white;
}

footer {
  display: flex;
  margin: auto;
  background-color: lightgreen;
  height: 150px;
  width: 960px;
}